.Contact {
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 150px;
    justify-self: center;
}

.Contact .left {
    flex: 1;
    padding-left: 60px;
}

.Contact .right {
    display: flex;
    flex: 1;
    padding-right: 60px;
    gap: 10px;
    flex-direction: column;
}

.Contact .right span {
    color: rgb(173, 171, 171);

}

.inputs {
    display: flex;
    gap: 20px;
}

.inputs input {
    margin-top: 10px;
    width: 50%;
    height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;

}

textarea {
    height: 140px;
    margin-top: 10px;
    line-height: 25px;
    padding: 0px 15px;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border: 1px solid #7a7a7a;
}

.right button {
    background-color: rgb(12, 11, 11);
    /* background-color: rgb(41, 38, 38); */
    color: white;
    width: 10%;
    height: 45px;
}

.right button:hover {
    background-color: white;
    color: rgb(41, 38, 38);
    transition: background 0.4s ease;
    cursor: pointer;
}











@media (max-width: 1024px) {
    .Contact {
        flex-direction: column;
        gap: 30px;
        margin: 30px 20px;
        padding: 0 20px;
    }

    .Contact .left {
        padding-left: 20px;
    }

    .Contact .right {
        padding-right: 20px;
    }

    .inputs {
        flex-direction: column;
        gap: 0px;
    }

    .inputs input {
        width: 100%;
    }

    .right textarea {
        width: 100%;
    }

    .right button {
        width: 80%;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .Contact {
        margin-top: 20px;
        margin-bottom: 80px;
        gap: 20px;
    }

    .Contact .left,
    .Contact .right {
        padding: 0 10px;
    }

    textarea {
        height: 120px;
    }

    .right button {
        height: 50px;
        width: 80%;
        align-self: center;

    }
}

@media (max-width: 480px) {
    .Contact {
        margin-top: 15px;
        margin-bottom: 50px;
        gap: 10px;
    }

    .inputs input {
        font-size: 12px;
    }

    textarea {
        font-size: 13px;
    }

    .right button {
        font-size: 14px;
        height: 50px;
        width: 80%;
        align-self: center;


    }
}